<app-header></app-header>

<div class="container main-container center">
  <div class="row">
    <app-food-save
      (saveFoodSender)="saveFood($event)"
    ></app-food-save>
  </div>

  <div class="row">
    <app-food-edit
      [editFood]="editFood"
      (endEditFoodSender)="endEditFood()"
    ></app-food-edit>
  </div>

  <div class="row">
    <app-food-list
      [foodList]="foodList"
      (deleteFoodSender)="deleteFood($event)"
      (editFoodSender)="startEditFood($event)"
    ></app-food-list>
  </div>
</div>
