@font-face {
font-family: 'food';
src: url('./assets/food.ttf')  format('truetype');
font-family: 'casual';
src: url('./assets/casual.ttf')  format('truetype');
font-weight: bold;
}



header {
  font-family: food;
  font-size: 6em;
  margin-bottom: 25px;
  padding: 40px;
  background-color: beige;
}

.allfont {
  font-family: casual;
}

.center {
  text-align: center;
}

.food-cal {
  font-size: 1.5em;
  font-weight: bold;
}

.food-cat {
  font-size: 1em;
}

.food-desc {
  font-size: 1.2em;
}

.food-name {
  font-size: 2em;
  font-weight: bold;
}

.main-container {
  padding-top: 15px;
  background-color: ghostwhite;
}

.opaque {
  opacity: .75;
}
